html {
  font-family: "Helvetica";
  color: #444;
  background-color: #e5e5e5;
  height: 100vh;
  padding: 2rem;
}

body {
  overflow: hidden;
}

h1 {
  font-size: 20px;
}

.city {
  text-align: left;
}

.info {
  font-size: 15px;
  text-decoration: none;
  color: black;
  width: 400px;
  position: absolute;
  left: 55%;
  top: 80%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.github_profile {
  width: 100px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 88%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.city_name {
  border-radius: 20px;
  border: 1px solid #73ad21;
  width: 300px;
  height: 30px;
}

.btn_search {
  border-radius: 25px;
  border: 1px solid #73ad21;
  background-color: #73ad21;
  width: 100px;
  height: 30px;
}

form {
  margin: auto;
}

table {
  border: 1px solid #73ad21;
  box-shadow: 5px 10px #73ad21;
  background-color: white;
  font-family: "Helvetica";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

th,
tr {
  padding: 10px;
}
td {
  padding-left: 10px;
  padding-bottom: 5px;
  color: #444;
}

.container {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
